@model ListingDTO<List<StudentDto>>

@foreach (var item in Model.Data)
{
    <tr>
        <td>
            @item.Name.English
        </td>
        <td>
            @item.Name.Arabic
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Birthday
        </td>
        <td>
            <button class="btn btn-secondary btn-sm" onclick="openUpsertModal(@item.ID)">Edit</button>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}
