@model Bnsights.CoreLib.DTOs.Model.AccountMngmnt.ChangePasswordModel
@{
    Layout = "~/Views/Layout/_AnonymousLayout.cshtml";
    ViewBag.Title = UI.ChangePassword;
}

<p>@UI.ChangePassword</p>

@using (Ajax.B_DefaultAjaxForm(new AjaxFormOptions()
{
    Action = "ChangePassword",
    SuccessFunction = "clientsidePostBack",
    HtmlAttributes = new { @class = "hideOnSuccess" },
}))
{
    <div class="form-group">
        <label class="sr-only" for="inputPasswordOld">@UI.OldPassword</label>
        <input type="password" class="form-control" id="inputPasswordOld" maxlength="32" name="OldPassword" autocomplete="off" placeholder="@UI.OldPassword">
    </div>

    <div class="form-group">
        <label class="sr-only" for="inputPassword">@UI.NewPassword</label>
        <input type="password" class="form-control" id="inputPassword" maxlength="32" name="NewPassword" autocomplete="off" placeholder="@UI.NewPassword">
    </div>
    <div class="form-group">
        <label class="sr-only" for="inputPasswordConfirmtion">@UI.NewPasswordConfirmation</label>
        <input type="password" class="form-control" id="inputPasswordConfirmtion" maxlength="32" name="NewPasswordConfirmation" autocomplete="off" placeholder="@UI.NewPasswordConfirmation">
        @Html.Hidden("UserID", Model.UserID)
        @Html.AntiForgeryToken()
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">@UI.ChangePassword</button>
    </div>

    <div class="list-group bg-blue-grey-100 bg-inherit text-left hideOnSuccess" style="background-color: rgba(208, 210, 212, 0.2784313725490196);">
        <p class="list-group-item blue-grey-500">@UI.Password_RuleLength</p>
        <p class="list-group-item blue-grey-500">@UI.Password_RuleNumber</p>
        <p class="list-group-item blue-grey-500">@UI.Password_RuleSpecialCharecter</p>
        <p class="list-group-item blue-grey-500">@UI.Password_RuleUperCase</p>
        <p class="list-group-item blue-grey-500">@UI.Password_RuleLowerCase</p>
    </div>


    <div class="row showOnSuccess" style="display:none">
        <div class="col-md-12">
            <h3 class="blue-grey-100">@UI.RecordUpdated</h3>
        </div>
    </div>

}
<script>
    function clientsidePostBack(result) {
        if (result.val) {
            $('.hideOnSuccess').hide();
            $('.showOnSuccess').show();
            window.location = "/Home/Index/";
        }
    }
</script>