@model Bnsights.CoreLib.DTOs.Model.AccountMngmnt.ResetPasswordModel

@{
    ViewBag.Title = UI.Login_ResetPassword;
    Layout = "~/Views/Layout/_AnonymousLayout.cshtml";
}


@if (!Model.IsValid)
{
    @*<div class="row">
            <div class="col-md-12">
                <h3 class="blue-grey-100">@Model.ValidationError</h3>
            </div>
            <div class="col-md-12">
                <a href="/Home/Login">@UI.Login</a>
            </div>
        </div>*@
    <div class="kt-login__forgot">
        <div class="kt-login__head">
            <div class="kt-login__desc">@Model.ValidationError</div>
        </div>
        <div class="kt-login__actions">
            <a href="/Home/Login" id="kt_login_forgot_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">@UI.Login</a>&nbsp;&nbsp;
        </div>
    </div>
}
else
{


    using (Ajax.B_DefaultAjaxForm(new AjaxFormOptions()
    {
        Action = "ResetPassword",
        SuccessFunction = "clientsidePostBack",
        HtmlAttributes = new { @class = "hideOnSuccess" }
    }))
    {
        @*<div class="form-group">
                <h4 class="blue-grey-100">@Model.Username</h4>
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPassword">@UI.Login_Password</label>
                <input type="password" class="form-control" id="inputPassword" maxlength="32" name="Password" autocomplete="off" placeholder="@UI.Login_Password">
            </div>
            <div class="form-group">
                <label class="sr-only" for="inputPasswordConfirmtion">@UI.Login_PasswordConfirmation</label>
                <input type="password" class="form-control" id="inputPasswordConfirmtion" maxlength="32" name="PasswordConfirmation" autocomplete="off" placeholder="@UI.Login_PasswordConfirmation">
                @Html.Hidden("Token", Model.Token)
                @Html.HoneypotInput()
                @Html.AntiForgeryToken()
            </div>
            <button type="submit" class="btn btn-primary btn-block">@UI.Login_ResetPassword</button>*@

        <div class="kt-login__head">
            <h3 class="kt-login__title">@Model.Username</h3>
        </div>
        <div class="kt-form">
            <div class="input-group">
                <input class="form-control" type="password" id="inputPassword" maxlength="32" name="Password" autocomplete="off" placeholder="@UI.Login_Password">
            </div>
            <div class="input-group">
                <input class="form-control" type="password" id="inputPasswordConfirmtion" maxlength="32" name="PasswordConfirmation" autocomplete="off" placeholder="@UI.Login_PasswordConfirmation">
                @Html.Hidden("Token", Model.Token)
                @Html.HoneypotInput()
                @Html.AntiForgeryToken()
            </div>
            <div class="kt-login__actions">
                <button type="submit" id="kt_login_forgot_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">@UI.Login_ResetPassword</button>
            </div>
        </div>
    }
    <div class="text-left hideOnSuccess font-size-12" style="background-color: rgba(208, 210, 212, 0.2784313725490196);">
        <p>@UI.Password_RuleLength</p>
        <p>@UI.Password_RuleNumber</p>
        <p>@UI.Password_RuleSpecialCharecter</p>
        <p>@UI.Password_RuleUperCase</p>
        <p>@UI.Password_RuleLowerCase</p>
    </div>


    <div class="row showOnSuccess" style="display:none">
        <div class="col-md-12">
            <h3 class="blue-grey-100">@UI.SavedSuccessfully</h3>
        </div>
        <div class="col-md-12">
            <a href="/Home/Login">@UI.Login</a>
        </div>
    </div>
    <script>
		function clientsidePostBack(result) {
			if (result.val) {
				$('.hideOnSuccess').hide();
				$('.showOnSuccess').show();
				window.location = result.url;
			}
		}
    </script>
}
